/*
colors:
	Background:     #282A36
	Current Line:	#44475A
	Foreground:     #F8F8F2
	Comment:        #6272A4
	Cyan:           #8BE9FD
	Green:          #50FA7B
	Orange:         #FFB86C
	Pink:           #FF79C6
	Purple:         #BD93F9
	Red:            #FF5555
	Yellow:         #F1FA8C
*/

body,
.x-panel .x-grid-body
{
	background-color: #282A36;
	color: #F8F8F2;
} 
/* Položky ve složkách */
.folderTree .x-grid-row .folderName
{
	color: #F8F8F2;
	background-color: #282A36;
}
/* Položky ve složkách:hover */
tr.x-grid-row-over
{
	background-color: #F8F8F2;
	color: #44475A;
}