body 
{
    background-color: #282A36;
	color: #F8F8F2;
}
#naviBar .content 
{
    background-color: #6272A4;
}
.article .notice 
{
    background-color: #282A36;
}

.article .bordered tr 
{
    background-color: #282A36 !important;
    color: #bbb;
}

.article .bordered tr.even 
{
    background-color: #44475A !important;
    color: #bbb;
}

.article .bordered td 
{
    border: 1px solid #282A36;
}

.article .bordered th 
{
    background-color: #44475A;
    border: 1px solid #44475A
}

p.chb 
{
    background-color: #44475A;
    border: 1px solid #44475A;
}

a 
{
	color: #F8F8F2;
}

a:hover 
{
	color: #F8F8F2
}

.article .namet 
{
    color: #F8F8F2;
}

#content 
{
    background: #282A36;
}

.chbc 
{
    background-color: #282A36;
    border: 1px solid #282A36;
}

textarea 
{
    background-color: #282A36;
    border: 1px solid #282A36;
    color: #F8F8F2;
}

.pages a 
{
    color: #F8F8F2;
}

.messageEmpty
{
    color: #282A36;
}
